/* mixin //////////*/
$light-red: #d7000f;
$dark-red: #990000;
$base-yellow: #fdd001;
$light-black: #010101;
$light-gray: #ccd1d4;

@mixin inner_img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin submit {
  //display: inline-flex;
  width: 12rem;
  height: 6rem;
  margin: 0 auto;
  background: $dark-red;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  &:hover {
    background: $light-red;
    transition: all 0.5s ease;
  }
}

/* media query //////////*/
//$pc: 960px;
$tab: 959px;
$sp: 559px;

/*
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
*/

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* reset //////////*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
}

small {
  font-size: 1.4rem;
}
